<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="com.y2hyun.playground" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="org.springframework.security" level="info" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	
</configuration>