<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<title>Spring Boot Playground Home</title>
</head>
<body>
  <div th:fragment="header(nav)">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="#">SpringBoot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" th:classappend="${nav == 'home' || nav == null ? 'active' : ''}"><a class="nav-link" href="#" th:href="@{/}">Home</a></li>
          <li class="nav-item" th:classappend="${nav == 'board' ? 'active' : ''}"><a class="nav-link" href="#" th:href="@{/board}">Board</a></li>
          <!-- li th:classappend="${page == 'tasks-ld' ? 'active' : ''}"><a href="#" th:href="@{/task-ld}">Tasks (Layout Dialect)</a></li-->
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" ><a class="nav-link" href="/signin" th:href="@{/signin}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
          </a></li>
          <!-- li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/signin" th:href="@{/signin}"> <span
              class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
          </a></li>
          <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
          </a>
            <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form></li-->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </nav>
  </div>
</body>
</html>